.githubRepoSearch
  display: flex
  flex-direction: column
  width: 700px
  & > input
    text-align: center
  .githubRepoSearch-Paginator
    display: flex
    justify-content: center
    align-items: center
    margin-top: 0.5rem

@media (max-width: 750px)
  .githubRepoSearch
    width: 400px
